{% extends 'base.html' %} {% block content %}
<div class="row text-center">
  <div class="col"><h1>Welcome to Tweet Me Too</h1></div>
</div>
<div class="row mb-4">
  <div class="col-md-4 mx-auto col-10">
    <form
      id="create-tweet-form"
      class="form"
      method="POST"
      action="/api/tweets/create"
    >
      {% csrf_token %}
      <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
      <input type="hidden" value="/" name="next" />
      <textarea
        required="required"
        class="form-control"
        placeholder="Type your tweet here ..."
        name="content"
      ></textarea>
      <button class="btn btn-primary" type="submit">Tweet</button>
    </form>
  </div>
</div>
<div class="row" id="tweets">
  Loading ...
</div>
<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function handleTweetCreateFormError(display, msg) {
    var myErrDiv = document.getElementById("tweet-create-form-error");
    if (display === true) {
      //show error
      myErrDiv.innerText = msg;
      myErrDiv.setAttribute("class", "d-block alert alert-danger");
    } else {
      //hide
      myErrDiv.setAttribute("class", "d-none alert alert-danger");
    }
  }

  function handleTweetActionBtn(tweet_id, currentCount, action) {
    console.log(tweet_id, currentCount);
    const url = "/api/tweets/action";
    const method = "POST";
    const data = JSON.stringify({
      id: tweet_id,
      action: action,
    });
    const csrftoken = getCookie("csrftoken");
    const xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("content-type", "application/json");
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.setRequestHeader("X-CSRFToken", csrftoken);
    xhr.onload = function () {
      loadTweets(tweetsContainerElement);
    };
    xhr.send(data);
  }

  function unLikeBtn(tweet) {
    return (
      "<button class='btn btn-outline-primary' onClick=handleTweetActionBtn(" +
      tweet.id +
      "," +
      tweet.likes +
      ",'unlike')>" +
      "Unlike</button>"
    );
  }

  function likeBtn(tweet) {
    return (
      "<button class='btn btn-primary' onClick=handleTweetActionBtn(" +
      tweet.id +
      "," +
      tweet.likes +
      ",'like')>" +
      tweet.likes +
      " Likes</button>"
    );
  }

  function retweetBtn(tweet) {
    return (
      "<button class='btn btn-outline-primary' onClick=handleTweetActionBtn(" +
      tweet.id +
      "," +
      tweet.likes +
      ",'retweet')>" +
      "Retweet</button>"
    );
  }
  function formatedTweetElement(tweet) {
    element =
      '<div class="col-12 col-md-10 rounded mx-auto border py-3 mb-4 tweet" id="tweet-' +
      tweet.id +
      '"><p>' +
      tweet.content +
      '</p><div class="btn-group">' +
      likeBtn(tweet) +
      unLikeBtn(tweet) +
      retweetBtn(tweet) +
      "</div></div>";
    return element;
  }

  function handleTweetCreateFormDidSubmit(event) {
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);
    const url = myForm.getAttribute("action");
    const method = myForm.getAttribute("method");
    const xhr = new XMLHttpRequest();
    xhr.responseType = "json";
    xhr.open(method, url);
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.onload = function () {
      if (xhr.status === 201) {
        handleTweetCreateFormError(false, "");
        const newTweet = xhr.response;
        console.log(newTweet);
        const newTweetElement = formatedTweetElement(newTweet);
        tweetsContainerElement.innerHTML =
          newTweetElement + tweetsContainerElement.innerHTML;
        myForm.reset();
      } else if (xhr.status === 400) {
        const errJson = xhr.response;
        console.log(errJson);
        const contentErr = errJson.content;
        let contentErrMsg;
        if (contentErr) {
          contentErrMsg = contentErr[0];
          handleTweetCreateFormError(true, contentErrMsg);
        }
      } else if (xhr.status === 403) {
        alert("You must log in.");
        window.location.href = "/login";
      } else if (xhr.status === 500) {
        alert("There was a server error! Please try again later.");
      }
    };
    xhr.onerror = function () {
      alert("Error occured! Please try again.");
    };
    xhr.send(myFormData);
  }

  const tweetsContainerElement = document.getElementById("tweets");
  const tweetCreateFormElement = document.getElementById("create-tweet-form");
  tweetCreateFormElement.addEventListener(
    "submit",
    handleTweetCreateFormDidSubmit
  );
  function loadTweets(tweetsElement) {
    const xhr = new XMLHttpRequest();
    const method = "GET";
    const url = "/api/tweets/";
    const responseType = "json";
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function () {
      const serverResponse = xhr.response;
      const listedItems = serverResponse;
      // console.log(listedItems);
      var finalTweetStr = "";
      var i;
      for (i = 0; i < listedItems.length; i++) {
        // console.log(listedItems[i]);
        var currentItem = formatedTweetElement(listedItems[i]);
        finalTweetStr += currentItem;
      }
      tweetsElement.innerHTML = finalTweetStr;
    };
    xhr.send();
  }
  loadTweets(tweetsContainerElement);
</script>
{% endblock content %}
